*{
    margin: 0;
}
#footer {
    width: 100%;
    background-color: #004d0c;
    color: white;
    text-align: center;
    padding-bottom: 1%;
}

#footer .footer-content {
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
    flex-wrap: wrap;
    padding: 20px;
    gap: 100px;
}

#footer .logo {
    color: white;
    font-size: 30px;
    font-weight: bold;  
    margin-left: -70%;
    padding-top: 6%;
}

#footer .contacts {
    font-size: 14px;
}

#footer .contacts h3 {
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: -15%;
    font-size: 23px;
}

#footer .contacts {
    justify-content: space-between;
    display: block;
}

#footer .contacts a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
    font-size: 20px;
}

#footer .contacts a:hover {
    color: green;
}

#footer .contacts i {
    margin-right: 10px;
}

#footer .contacts a i {
    margin: 0 10px;
    font-size: 20px;
    vertical-align: middle;
}

.copyright{
    background-color: whitesmoke;
    width: 98.5%;
    padding: 10px;
    margin-top: 20px;
    font-size: 12px;
    color: black;
}
.pages h3 {
    margin-top: -20%;
    margin-left: 30%;
    font-size: 23px;
}
.pages ul{
    list-style: none;
}
.pages ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
}
.pages ul li a:hover {
    text-decoration: none;
    color: green;
}
.footerabout {
    width: 30%;
}
.footerabout p{  
   font-size: 20px;
   text-align: left;
}
@media (max-width: 540px) {
    #footer {
        flex-wrap: wrap;

    }
    #footer .footer-content {
        flex-wrap: wrap;
        gap: 170px;
        margin-left: 3%;
        font-size: 20px;
    }

    #footer .contacts {
        text-align: left;
    }
    .copyright{
        width: 96%;
    }
    #footer .logo {
        margin-left: -55%;
        padding-bottom: 4%;
    }
    .pages{
        margin-left: -30%;
    }
    #footer .contacts h3 {
        margin-top: 20% ;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .footerabout {
        width: 50%;
    }
    .footerabout p{  
        font-size: 20px;
        text-align: left;
     }
     #footer .contacts h3 {
        margin-top: -60%;
    }
}
