*{
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #004d0c;
    height: 80px;
    width: 100%;
    border-bottom: solid 1px #CCCCCC;
    color: #E3FFE3;
    align-items: center;
}
header ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    float: right; 
    margin-right: 13%;
    list-style: none;
    font-size: 20px;
}

header ul li a {
    text-decoration: none;
    color: #E3FFE3;
}
.nav-menu button{
    background-color: white;;
    color: green;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.logo{
    font-weight: bold;
    padding-left: 20px;
    font-size: 30px;
}
a {
    text-decoration: none;
    color: white;
    
    }
    a :hover{
    
    color: green;
    background-color: green;
    }
    .toggle-button {
        margin-right: 8%;
        display: none;
        cursor: pointer;
        font-size: 30px;
        color: white;
    }
  
    @media screen and (max-width: 540px) {
        .nav-menu {
            display: none;
            flex-direction: row;
            width: 100%;
            text-align: center;
        }
    
        .nav-menu.show {
            display: flex;
        }
    
        .toggle-button {
            margin-top: -7%;
            margin-right: 3%;
            display: block;
            cursor: pointer;
            float: right;
            font-size: 22px;
            color: white;
        }
        header {
            display: block;
            height: 85px;
            border-bottom: solid 1px #CCCCCC;
            color: #E3FFE3;
            padding-top: 30px;
        }
        header ul{
            margin-top: 4%;
            margin-right: -4%;
            gap: 27px;
        }      
        .nav-menu button{
            background-color: white;;
            color: green;
            border: none;
            cursor: pointer;
            padding: 1px 4px;
        } 
    }