/* reg.css */

/* Set the background color of the body to green */
body {
    background-color: #013e0d; /* Change to your desired shade of green */
}
.logo{
    display: flex;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    float: left;
    margin-top: -140%;
    margin-left: 130%;
    font-family: Tahoma;
}

/* Additional styles for the form */
form#registrationForm {
    margin-top: 0%;
    margin-right: 20%;
    padding: 20px;
    border: 1px solid #2f570a;
    border-radius: 5px;
    width: 300px;
    background-color: #0b4619; /* Optional: to make the form background white */
}
a {

color: white;

}
a :hover{

color: white;
background-color: wheat;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Ensure the button text is not underlined */
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="submit"] a {
    color: white;
    text-decoration: none; /* Ensure the link text is not underlined */
    display: block; /* Make the link fill the button */
}

