.chart {
    width: 75%;
    height: 100%;
    margin-left: 4%;
}
#myPieChart {
    width: 100% !important;
    height: 100% !important;
}

#updates {
    display: flex;
    gap: 3%;
    justify-content: center;
    margin-top: 5%;
}

.performancetitle{
    text-align: center;
    margin-top: 15%;
    font-size: 19px;
    color: green;
}

.performance{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10%;
    width: 30%;
    border: 2px solid rgb(4, 133, 21); 
    padding: 20px; 
    border-radius: 10px; 
    box-sizing: border-box
}

.message h3{
    padding-bottom: 3%;
    margin-left: 12%;
    /* text-align: center; */
}
.message p {
    padding-bottom: 6%;
}

.notification{
    width: 30%;
    border: 2px solid rgb(20, 2, 99); 
    padding: 10px; 
    border-radius: 10px; 
    box-sizing: border-box
}
.notification h3{
    padding-bottom: 3%;
    text-align: center;
}
.notification p{
    padding-bottom: 6%;
    text-align: center;
}
.notification button{
    margin-left: 40%;
    background-color: rgb(20, 2, 99);
    color: white;
    border: none;
    cursor: pointer;
    padding: 7px 24px;
    border-radius: 5px;
    font-size: 17px;
}