.logo{
    display: flex;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    float: left;
    margin-top: -160%;
    margin-left: 125%;
    font-family: Tahoma;
}
body {
    font-family: Arial, sans-serif;
    background-color:  green;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fform{
    display: flex; 
    float: left;
    position: static;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10%;
}

form {
    margin-top: 15%;
    text-align: center;
    color: white;
    background-color: #0b4619;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgb(1, 58, 6);
    width: 300px;
    max-width: 100%;
}
form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form select, form button {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


form input:focus, form select:focus {
    border-color: #007BFF;
    outline: none;
}

form button {
    background-color: #172d1c;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #045c16;
}
button a {
    text-decoration: none;
    color: white;
}
