*{
    margin: 0;
}

body{
    width: 100%;
}

.tracker {    
    margin-top: 10%;
}

.tracker h2{
    text-align: center;
    font-size: 30px;
    color: green; 
}

.details{
    margin-top: 5%;
    margin-left: 20%;

}

.details button {
background-color: green;
color: white;
border: none;
cursor: pointer;
padding: 5px 10px;
}

@media screen and (max-width: 540px) {
    .tracker{
        flex-wrap: wrap;
    }
    .details{
        margin-top: 10%;
        margin-left: 40%;
    
    }

}